Source: libmm-utility
Section: libs
Priority: extra
Maintainer: YoungHun Kim <yh8004.kim@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>
Uploaders: Shin Seung Bae <seungbae.shin@samsung.com>, JongHyuk Choi <jhchoi.choi@samsung.com>, Cho Ye Jin <cho.yejin@samsung.com>, YoungHwan Ahn <younghwan_.an@samsung.com>
Build-Depends: debhelper (>= 5), autotools-dev, libmm-common-dev, libmm-ta-dev, libmm-log-dev, libmm-common-internal-dev, libjpeg8-dev
Standards-Version: 3.7.2

Package: libmm-utility
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmm-common, libmm-ta, libmm-log, libjpeg8
Description: Multimedia Framework Utility Library

Package: libmm-utility-dev
XB-Generate-Docs: yes
Section: libdevel
Architecture: any
Depends: libmm-utility (= ${Source-Version}), libmm-common-dev, libmm-ta-sdk-dev, libmm-log-sdk-dev, libjpeg8-dev
Description: Multimedia Framework Utility Library (DEV)

Package: libmm-utility-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmm-utility (= ${Source-Version})
Description: Multimedia Framework Utility Library for debugging (unstripped)

